#board {
    margin-left: 285px;
}
.row {
    display: flex;
}

.tile {
    width: 100px;
    height: 100px;
    background: lightgreen;
    border: 1px solid black;
}

.white span {
    display: inline-block;
    background-color: white;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.black span {
    display: inline-block;
    background-color: black;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}